<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Enter combatant names</h1>
	<form action="/battle" method="post">
		<input id="player1-input" type="text" name="player1Name">
		<input id="player2-input" type="text" name="player2Name">
		<input id="submit-names" type="submit" value="FIGHT!">
	</form>
</body>
</html>